@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --foreground-color: #c2c2c2;
  --background-color: #1e1e1e;
  --background-color-2: #303030;
  --navbar-color: #2f2f2f;
  --secondary-color: #f2e6d9;
  --highlight-color: #bd7039;
}

html {
  overflow-y: scroll;
}

/* The scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Adjust width of the scrollbar */
  background-color: var(--foreground-color); /* Color of the scrollbar track */
}

/* The draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color); /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
  border: 2px solid var(--foreground-color); /* Add border to the thumb, with the same color as the track */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #c2c2c2;
    --background-color: #1e1e1e;
    --navbar-color: #2f2f2f;
    --secondary-color: #f2e6d9;
    --highlight-color: #bd7039;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px) {
  
}

.MuiAppBar-root {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

.MuiButton-root:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color)
}

.fill-screen {
  padding: 20px;
  height: 80vh;
}

.fill-parent {
  width: calc(100% - 8vw*2);
  height: calc(100% - 8vw*2);
  margin: 8vw;
}

#myName {
  color: var(--highlight-color);
  font-weight: 500;
  font-size: 9vw;
}

#subHeader {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 5rem;
}

#fulltime {
  color: var(--secondary-color);
  font-size: 4vw;
  font-weight: 300;
}

#humanbeing {
  margin-left: 15px;
  color: var(--secondary-color);
  font-size: 4vw;
  font-weight: 500;
  position: relative;
  top: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-to-grey {
  background: linear-gradient(to bottom, var(--background-color), var(--background-color-2));
}

.grey-background {
  background: var(--background-color-2)
}

.custom-margin {
  margin: 5vh 10vw 5vh 10vw;
}


.coffee {
  transition: transform 0.2s ease-in-out;
}
.coffee:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}