@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --foreground-color: #c2c2c2;
  --background-color: #1e1e1e;
  --background-color-2: #3f3f3f;
  --navbar-color: #2f2f2f;
  --secondary-color: #f2e6d9;
  --highlight-color: #bd7039;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #c2c2c2;
    --background-color: #1e1e1e;
    --navbar-color: #2f2f2f;
    --secondary-color: #f2e6d9;
    --highlight-color: #bd7039;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.MuiAppBar-root {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

.MuiButton-root:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color)
}

.fill-screen {
  padding: 20px;
  height: 80vh;
}

.fill-parent {
  width: calc(100% - 8vw*2);
  height: calc(100% - 8vw*2);
  margin: 8vw;
}

#myName {
  color: var(--highlight-color);
  font-weight: 500;
  font-size: 8rem;
}

#subHeader {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 5rem;
}

#fulltime {
  color: var(--secondary-color);
  font-size: 60px;
  font-weight: 300;
}

#humanbeing {
  margin-left: 15px;
  color: var(--secondary-color);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-to-grey {
  background: linear-gradient(to bottom, var(--background-color), var(--background-color-2));
}
