.button {
    margin-top: 15px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.container {
    background-color: var(--secondary-color);
    width: 40vw;
    padding: 0 2.5vw 1vw 2.5vw;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}