:root {
    --foreground-color: #c2c2c2;
    --background-color: #1e1e1e;
    --background-color-2: #303030;
    --navbar-color: #2f2f2f;
    --secondary-color: #f2e6d9;
    --highlight-color: #bd7039;
  }

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-top: 1px solid var(--foreground-color);
  }
  
.footerText {
margin: 0;
font-size: 14px;
margin-right: 20px;
}

.footerIcon {
    margin-right: 10px;
}

.footerIcon:hover {
    transform: scale(1.1);
  }