:root {
    --foreground-color: #c2c2c2;
    --background-color: #1e1e1e;
    --background-color-2: #3f3f3f;
    --navbar-color: #2f2f2f;
    --secondary-color: #f2e6d9;
    --highlight-color: #bd7039;
  }

.slider-container {
    position: relative;
    width: 60vw;
    height: 60vh;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slider-image {
    flex: 0 0 60vw;
    height: 60vh;
    padding: 0rem 2.5rem 0rem 2.5rem; /* Why uneven? */   
    object-fit: cover;
}

.slider-controls-left {
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 0;
}

.slider-controls-right {
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    right: 0;
}

.slider-controls-left:hover,
.slider-controls-right:hover {
  color: var(--foreground-color);
}