:root {
    --foreground-color: #c2c2c2;
    --secondary-color: #f2e6d9;
    --highlight-color: #bd7039;
  }

.logo {
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    transition: transform 0.2s ease-in-out;
}

.resume {
    color: var(--secondary-color);
    border: 2px solid var(--highlight-color);
    background-color: #433023;
}

.resume:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
}