@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.note-pad {
    background: 
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 24px,
            #272727 24px,
            #272727 25px
        );
    line-height: 25px;
    font-size: 25px;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
    color: black;
    max-width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px 0px 5px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
    background-color: antiquewhite;
    transform: rotate(-1deg); /* Rotate the NotePad component by 5 degrees */
    transition: transform 0.2s ease-in-out;
}

.container:hover {
    transform: scale(1.1) rotate(0deg); /* Increase size and rotate on hover */
}